html, body {
    height: 100%;
    margin: auto;
    padding: 0;
}

h1 {
	font-family: 'Didact Gothic', sans-serif;
	text-align: center;
	color: black;
	font-size: 4em;
}

section {
    height: 100vh;
    width: 100% !important;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}